@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: var(--secondary-color);
}
:root{
    --primary-color:#10B981;
    --secondary-color: black;
}
.nav-heading{
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--primary-color);
    text-align: center;
    padding: 1.5rem;
}
main{
    margin: auto;
    max-width: 600px;
    padding: 1rem;
}
textarea{
    box-sizing: border-box;
    min-height: 20vh;
    width: 100%; 
    margin-top: 1.5rem ;
    display: block;
    font-size: large;
    font-family: inherit;
}
button{
    background-color: var(--primary-color);
    border: 1px solid black;
    margin: 0.8rem 0rem;
    padding: 1rem 2rem;
    font-family: inherit;
    font-size: large;
    font-weight: bold;
    
}
/* .translation{
    margin-left:365px ;
    padding: 0rem 1rem;
    margin-top: 1rem;
    
} */
#text-output{
    margin-top: 0rem; 
    box-sizing: border-box;
    overflow: scroll;
    min-height: 10vh;
    max-height: 30vh;
    width: 100%;
    border: 1px solid black;
}

footer{
    background-color: var(--primary-color);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 1.5rem;
    font-weight: bold;
}
footer p{
    max-width: 600px;
    margin: auto;
    
}